.todofont{
    font: Raleway;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.26px;
    color: #333333;
    width: 118px;
    height: 41px;
    margin-top: 32px;
    margin-left: 659px;
  }


#tabhead{
/* width: 19px;
height: 17px; */
/* margin-top: 130px;
margin-left: 499px; */
font: Montserrat;
 font-size: 14px;
/* font-weight: 600;
line-height: 17px;
letter-spacing: 0em;
text-align: left; */ 
}


 
  